* {
  box-sizing: border-box;
  font-family: "Hubballi", cursive;
}
html{
  font-size: 16px;
}
body {
  background: #000;
  margin: 0;
  padding: 0;  
}
h1 {
  text-align: center;
  color: #fff;
  /* font-size: 1.8em; */
  font-size: 1.8rem;
}
h2 {
  text-align: left;
  color: #fff;
  font-size: 0.8rem;
}
p {
  color: #fff;
  text-align: left;
  font-size: 0.7rem;
}

/* Efecto hover sobre imagenes */

/* Customs styles galeria */
.container {
  /*contenedor general*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  gap: 30px;
}
.image {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen ocupa el ancho del objeto y evita que se distorcione */
  transition: all 500ms ease-out;
}
.item {
  /*Contenedor individual de imagen, h2 y p*/
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
/* Efecto al pasar el cursor sobre la imagen */
.container .item:hover > .text {
  opacity: 1;
  visibility: visible;
}
.container .item:hover > img {
  transform: scale(1.3);
}

.text {
  /*Contenedor del h2 y p */
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 10px;
  color: #fff;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

/* Seccion de footer*/
.footer {
  color: #fff;
  text-align: center;
}
#follow {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}
.social {
  margin: 30px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.links a i {
  color: #fff;
  font-size: 1.5rem;
}

/* CSS Responsive*/

/* Dimensiones: Movil-L*/

@media screen and (min-width: 320px) and (max-width: 425px) {
  .container {
 
  /* Organizacion de pantalla*/ 
  
    grid-template-columns: repeat(2, 1fr);
  }
  .item:nth-child(3) {
    grid-column-start: span 2;
  }
  .item:nth-child(6) {
    grid-column-start: span 2;
  }
  .item:nth-child(9) {
    grid-column-start: span 2;
  }
}

/* Dimensiones: Tablet*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  /* Font size */
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  /*Organizacion en pantalla*/
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .item:nth-child(1) {
    grid-row-start: span 2;
  }
  .item:nth-child(4) {
    grid-column-start: span 2;
  }
  .item:nth-child(7) {
    grid-row-start: span 2;
  }
}
/* Dimensiones: Portatil*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
   /* Font size */
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1rem;
  }
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  .item:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  .item:nth-child(3) {
    grid-row-start: span 2;
  }
  .item:nth-child(5) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .item:nth-child(8) {
    grid-column-start: span 2;
  }
  .item:nth-child(9) {
    grid-column-start: span 4;
  }
}
/* Dimensiones: Portatil L - 4K*/
@media screen and (min-width: 1025px) and (max-width: 2560px) {
    /* Font size */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .container {
    width: 90%;
    margin: 0 5%;
    grid-template-columns: repeat(5, 1fr);
  }
  .item:nth-child(1) {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
  .item:nth-child(2) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  .item:nth-child(3) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  .item:nth-child(4) {
    grid-row-start: span 3;
    grid-column-start: span 3;
  }
  .item:nth-child(5) {
    grid-column-start: span 2;
  }
  .item:nth-child(6) {
    grid-row-start: span 2;
    grid-column-start: span 5;
  }
  .item:nth-child(7) {
    grid-row-start: span 2;
    grid-column-start: span 3;
  }
  .item:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
  .item:nth-child(9) {
    grid-row-start: span 2;
    grid-column-start: span 5;
  }
}
